<center style="margin-top: 100px">
  <h2 style="font-size: 78px">Login</h2>
  <form method="POST" >
    {% csrf_token %} <span style="font-size: 40px;">{{ form.as_p }}<span>
    <button style="font-size: 45px;" type="submit">Login</button>
  </form>
  <p>
    Don't have an account? <a href="{% url 'register' %}">Register here</a>.
  </p>
</center>

<style>
    #id_username {
        height: 107px;
        font-size: 34px;
    }
    #id_password {
        height: 107px;
        font-size: 34px;
    }
</style>
